/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.flexing {
  display: flex;
}
.flexingColumn {
  display: flex;
  flex-direction: column;
}
/*-------------------------- MIXING------------------------------ */
/*-------------------------- 2 VARIABLES------------------------------ */
/*-------------------------- 2 VARIABLES------------------------------ */
.container {
  /* CONTAINER PAGE */
  width: 960px;
  /*-------------------------- MIXING------------------------------ */
  margin: 0 auto;
  /*NAVICATION BAR*/
  /*END OF NAVICATION BAR */
  /* BACKGROUND IMAGE SECTION */
  /* FULLSTACK DEVELOPER */
  /* END OF BACKGROUND IMAGE SECTION */
  /* ABOUT ME SECTION AND SKILLS*/
  /* START OF BIOGRAPHY */
  /*END OF ABOUT ME AND SKILLS SECTION */
  /*PORTFOLI SECTION */
  /* END OF PORTFOLIO SECTION */
  /* FOOTER CONTACT ME SECTION */
}
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
}
.container header {
  /* HEADER CHILD 2*/
  display: [object Object];
  justify-content: space-between;
  align-items: center;
  background: white;
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0px 10px 23px #111;
  /*-------------------------- MIXING------------------------------ */
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container header {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: none;
    position: static;
  }
}
.container header .myname {
  font-size: 20px;
  padding: 10px 60px;
  cursor: pointer;
  display: block;
  border-radius: 10px;
  background: #42A5F5;
  color: white;
  margin-left: 20px;
}
.container header .myname:hover {
  box-shadow: 0px 10px 23px #111;
  background: white;
  color: #42A5F5;
}
@media (max-width: 500px) {
  .container header .myname {
    margin: 0;
  }
}
.container nav {
  padding: 30px 0;
}
@media (max-width: 500px) {
  .container nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.container nav a {
  color: #42A5F5;
  text-decoration: none;
  font-size: 25px;
  margin-left: 80px;
}
@media (max-width: 500px) {
  .container nav a {
    width: 100%;
    margin: 0;
    Text-align: center;
    padding: 20px 0;
    box-shadow: 0px 15px 10px -15px #111;
  }
}
.container nav a:last-child {
  margin-right: 20px;
}
@media (max-width: 500px) {
  .container nav a:last-child {
    margin: 0;
  }
}
.container nav a:hover {
  color: gray;
}
@media (max-width: 500px) {
  .container nav a:hover {
    background: #42A5F5;
    color: white;
  }
}
.container .background-image {
  /* parent */
  width: 960px;
  height: 82vh;
  background: url(/img/tunnel-view.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .container .background-image {
    width: 100%;
    height: 90vh;
  }
}
.container .background-image .info-content {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.container .background-image .info-content .name-intro {
  font-size: 65px;
  margin-top: 150px;
  margin-left: 10px;
  color: white;
  text-align: center;
  line-height: 1.2em;
}
.container .background-image .info-content .name-intro .period {
  color: blue;
  font-size: 120px;
}
.container .fullstack-dev {
  color: white;
  font-size: 21px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}
.container .resume {
  font-size: 20px;
  padding: 10px 60px;
  cursor: pointer;
  display: block;
  border-radius: 10px;
  background: #42A5F5;
  color: white;
  margin-left: 370px;
}
.container .resume:hover {
  box-shadow: 0px 10px 23px #111;
  background: white;
  color: #42A5F5;
}
@media (max-width: 500px) {
  .container .resume {
    /*-------------------------- MIXING------------------------------ */
    margin: 0 auto;
    margin-top: 100px;
  }
}
.container .about-me {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 3em;
  padding: 30px 0;
  text-align: center;
}
.container .biography {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid gray;
}
@media (max-width: 500px) {
  .container .biography {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
  }
}
.container .biography .myinformation {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
@media (max-width: 500px) {
  .container .biography .myinformation {
    width: 100%;
    padding: 10px 1px;
    font-size: 70%;
  }
}
.container .storyofmylife1 {
  font-size: 2em;
  padding: 0 20px
	width: 100%;
}
@media (max-width: 500px) {
  .container .storyofmylife1 {
    width: 100%;
  }
}
.container .myphoto {
  width: 100%;
}
@media (max-width: 500px) {
  .container .myphoto {
    width: 30%;
  }
}
.container .myphoto .myphotonavy {
  height: 550px;
  width: 100%;
}
@media (max-width: 500px) {
  .container .myphoto .myphotonavy {
    width: 200%;
    margin-left: 100px;
  }
}
.container .portfolio {
  width: 100%;
  display: flex;
  border-radius: 1px;
  justify-content: center;
  background: #42A5F5;
  align-items: center;
  box-shadow: 0px 10px 23px #111;
}
.container .portfolio h2 {
  font-size: 3em;
  padding: 90px 0;
}
@media (max-width: 500px) {
  .container .portfolio h2 {
    font-size: 2em;
  }
}
.container footer {
  width: 100%;
  border-top: 1px solid black;
  background: white;
  color: #42A5F5;
  margin-top: 100px;
  padding: 40px 0;
  box-shadow: 1px -15px 60px -19px #111;
}
.container footer .contact {
  font-size: 2em;
  text-align: center;
  background: white;
}
@media (max-width: 500px) {
  .container footer .contact {
    font-size: 3em;
    padding: 10px 0;
  }
}
.container .email {
  text-align: center;
  font-size: 2em;
  color: black;
}
@media (max-width: 500px) {
  .container .email {
    font-size: 1em;
  }
}
/* END OF FOOTER SECTION */
